.currencyContainer {
  display: flex;
  align-items: center;
  background-color: rgba(43, 43, 43, 0.3);
  backdrop-filter: blur(12px);
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  width: fit-content;
  margin: 1rem auto 1rem;
}

.currencyLabel {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.currencySwitch {
  margin: 0 15px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.currencyForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0, .2);
  border-radius: 8px;
  padding: 1rem;
}

.currencyForm > label {
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.currencyForm > input[type="text"] {
  margin-bottom: 0.5rem;
  border: 2px solid #949494;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 1.125rem;
  width: 100%;
}