.conversor {
    background-color: #F3F3F3;
    padding: 20px;
    max-width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, .2);
    border-radius: 10px;
    margin-bottom: 10px;
}

.conversor h2:nth-child(1) {
    margin-bottom: 5px;
}

.conversor input {
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    height: 25px;
    font-size: 14px;
}

.conversor input:nth-child(2) {
    box-shadow: 0 4px 8px 0 rgba(0,0,0, .2);
}

.conversor input:nth-child(3) {
    margin-left: 5px;
    background-color: rgb(63, 63, 63);
    padding: 0 10px;
    color: #F2F2F2;
}

.conversor input:nth-child(3):hover {
    transition: .3s;
    background-color: rgb(80, 80, 80);
}

.conversor h2:nth-child(4) {
    font-size: 21px;
    margin-top: 5px;
}