.app-container {
  min-height: 100vh;
  background: linear-gradient(180deg, #306fec 20%, #f7f7f7 20%);
  padding-top: 1rem;
  
  display: flex;
  flex-direction: column;
}

.app-container h1 {
  color: #fafafa;
}