:root {
  --bg-color: #163280;
  --footer-bg-color: #163280;
  --lighter-text: #ffffff;
  --light-text: #fafafa;
  --default-desktop-screen-width: 1280px;

  font-family: 'Inter', sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
}

section {
  max-width: var(--default-desktop-screen-width);
  margin: 0 auto;
  padding: 32px 32px 20px;
}

a, a:visited {
  color: inherit;
  font-weight: inherit;
}

